@import (once) "../../include/vars";
@import (once) "../../include/mixins";

[data-role="start-menu"] {
  display: none;
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  right: auto;
  top: auto;
  bottom: 35px;
  width: 60%;
  height: 80%;
  .win-shadow();
  .sidenav-simple {
    height: 100%;
    background-color: transparent;
    color: @white;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: auto;
    z-index: 1;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
    .icon {
      font-size: 20px;
    }
    [data-role="profile"] .icon {
      border-radius: 50px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    li {
      background-color: transparent;
      &:hover {
        background-color: @hoveredLink;
      }
    }
    a {
      background-color: transparent;
      &:not([class]):hover {
        color: unset
      }
    }
    &.hover {
      background-color: rgba(0,0,0,0.2);
    }
    .title {
      text-transform: none;
    }
  }
  [data-role="applications"] {
    padding-left: 50px;
    [data-role="recent"] {
      .items-list {
        overflow-y: auto;
        overflow-x: auto;
        height: calc(100% - 30px);
        .item {
          border: none;
          height: 40px;
          &:hover {
            background-color: @hoveredLink;
          }
          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 0;
            left: 0;
            background-color: blueviolet;
          }
          .label {
            padding-left: 50px;
          }
        }
      }
    }
  }
}

[data-role="power-button"] {
  ul {
    list-style: none;
    position: absolute;
    bottom: 51px;
    z-index: 1;
    li:hover {
      background-color: @hoveredLink;
    }
  }
}